<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="Terminal">
			<action name="Execute">
				<execute>/usr/bin/roxterm</execute>
			</action>
		</item>
		<item label="Chrome">
			<action name="Execute">
				<execute> /usr/bin/chromium-browser</execute>
			</action>
		</item>
		<item label="Firefox">
			<action name="Execute">
				<execute>/usr/bin/firefox</execute>
			</action>
		</item>
		<item label="Chat">
			<action name="Execute">
				<execute>/usr/bin/pidgin</execute>
			</action>
		</item>
		<item label="Text">
			<action name="Execute">
				<execute>/usr/bin/gedit</execute>
			</action>
		</item>
		<!-- This requires the presence of the 'menu' package to work -->
		<separator/>
		<item label="Wireless">
			<action name="Execute">
				<execute>wicd-client</execute>
			</action>
		</item>
		<separator/>
		<menu id="/Debian"/>
		<menu id="client-list-menu"/>
		<separator/>
		<item label="ObConf">
			<action name="Execute">
				<execute>obconf</execute>
			</action>
		</item>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<item label="Restart">
			<action name="Restart"/>
		</item>
		<separator/>
		<item label="Suspend">
			<action name="Execute">
				<execute>gksudo pm-suspend</execute>
			</action>
		</item>
		<item label="Exit">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
